doctype html
html
    head
        title Circle Lines

        meta( charset="UTF-8" )

        meta( name="author", content="Mathias Paumgarten" )
        meta( name="description", content="Circle Lines" )
        meta( name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no" )

        link( href="stylesheets/main.css", rel="stylesheet" )

    body

        script( src="javascripts/main.js" )
