html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 216, 216);
}

canvas {
    width: 512px;
    height: 512px;
    box-shadow: 0 0 10px 1px rgba( 0, 0, 0, 0.1 );
}
